@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
:root {
    --baseAzul: #0B0D17;
    --azulClaro: hsl(231, 77%, 90%);
    --linha: #979797;
    --branco: #FFFFFF;
  }  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
    background-color: var(--baseAzul);
    background-image: url(assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 120vh;
}
.logo{
    width: 3rem;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 4.6875rem;
    margin-top: 2.5rem;
    margin-left: 3.125rem;
    align-items: center;
}
.linha{
    width : 473px; 
    border: 1px solid;
    color: var(--linha);
    z-index: 1;
    float: left;
    position: relative;
    margin-left: 167px;
    top: -40px;
}
.menu {
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    float: left;
    display: flex;
    gap: 0.5rem;
    height: 6rem;
    width: 51rem;
    backdrop-filter: blur(0.3125rem);
    position: relative;
    z-index: 2;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    left: -5px;   
}
.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--branco);
    text-decoration: none; 
    font-size: 1rem;
    position: relative; padding: 0px 0px 30px 0;
}
.menu a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--branco);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.btn-menu {
    display: none;
  }
.corpus{
    float: left;
    width: 508.5px;
    height: 576px;
    margin-top: 76px;
    margin-left:-400px;
}
.corpus p{
    font-family:'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: var(--branco);
    font-size: 28px;
    letter-spacing: 4.72px;
    width: 382px;
    height: 34px;
    
}
.corpus strong{
    color: var(--linha);
    margin-right: 15px;
}
.corpus img{
    margin: 97px 0px 112px 230px;
    float: right;
}
.mainDestination{
    width: 445px;
    height: 472px;
    float: right;
    margin: 165px 165px 0px 0px;
}
.menuDestination{
    align-items: center;
    justify-content: space-between;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    height: 36px;
    width: 285.5px;
    position: relative;
    letter-spacing: 2.7px;
    text-transform: uppercase;   
}
.menuDestination a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--linha);
    text-decoration: none; 
    font-size: 1rem;
    position: relative;
    padding: 0px 0px 20px 0;
}
.menuDestination a:hover{
    color: var(--branco);
}
.menuDestination a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--branco);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menuDestination a:hover::after{
    width: 100%;
}
.mainDestination h1{
    font-size: 100px;
    font-family:'Bellefair', serif;
    margin: 37px 111.5px 14px 0.5px;
    color: var(--branco);
    font-weight: 100;
    text-transform: uppercase;
}
  .mainDestination .p1{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
    width: 404px;
}
.linhaBorda{
    border-top-style: solid;
    border-top-width: 1px;
    border-color: var(--linha);
    margin-top: 54px;
}
.p2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-top: 28px;
    letter-spacing: 4.36px;
    width: 220px;
    height: 61px;
    display: inline-block;
    margin-right: 35px;
    color: var(--linha);
    text-transform: uppercase;
    line-height: 40px;
    

}
  
.p3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: 100;
    width: 150px;
    height: 61px;
    display: inline-block;
    color: var(--linha);
    text-transform: uppercase;
    letter-spacing: 2.36 px;
    line-height: 40px;
    
}
.pp2{
    font-size: 28px;
    font-family:'Bellefair', serif;
    color: var(--branco);
    
}
.pp3{
    font-size: 28px;
    font-family:'Bellefair', serif;
    color: var(--branco);
}@media (max-width: 1358px){
    body{  
        background-image: url(assets/destination/background-destination-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 200vh;
    }
    .mainDestination{
        margin: 65px 165px 0px 0px; 
    }
}
@media (max-width: 910px){
    body{
        background-image: url(assets/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    .header{
        height: 96px;
        margin-top: 0px;
        justify-content: space-between;
    }
    .linha{
        display: none;
    }
    .menu{
        height: 96px;
        width: 450px;
        top: 1px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(5px);
        justify-content: space-evenly;
        position: relative;
        box-shadow: 0px 1px 2px 1px white;     
    }
    .menu strong{
        visibility: hidden;
    }
    .menu a{
        font-size: 14px;
        padding: 30px 0px 40px 0px;
    }
    .corpus{
        width: 495px;
        height: 384px;
        margin-top:  40px;
        margin-left: 38px;
    }
    .corpus p{
        font-size: 20px;
    }
    .corpus img{
        width: 300px;
    }
    .mainDestination{
        width: 573px;
        height: 389px;
        margin: 571px 0px 62px 97px;
        position: absolute;
        text-align: center;
    }
    .menuDestination{
        width: 285.5px;
        height: 34px;
        margin: auto;
    }
    .mainDestination h1{
        font-size: 80px;
        margin: 32px 0px 8px 0px;
    }
    .mainDestination .p1{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: center;
        margin: auto;
        width: 528px;
    }
    .linhaBorda{
        margin-top: 41px;
    }
}
@media (max-width: 789px){
    body{
        background-image: url(assets/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width: 620px) {
   body{
      background-image: url(assets/destination/background-destination-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 130vh; 
    }
    .header{
        margin: 0;
    }
    .logo img{
        width: 40px;
        margin-left: 24px;
    }
    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        right: 0;
        width: 60%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        padding: 32px;
        backdrop-filter: blur(50px);    
    }
    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0;
    }
    .corpus{
        width: 221px;
        height: 221px;
        align-items: center;
        margin-top: 24px;
        margin-left: 77px;
    }
    .corpus p{
        width: 221px;
        font-size: 16px;
        letter-spacing: 2.7px;
    }
    .corpus strong{
        margin-right: 1px;
    }          
    .corpus img{
        width: 170px;
        margin-top: 32px;
        float: none;
        margin-left: 10%;
    }
    .mainDestination{
        width: 327px;
        height: 457px;
        margin-top: 228px;
        margin-left: 24px;
        margin: 281px 0px 58px 24px
    }
    .menuDestination{
        width: 237.5px;
    }
    .menuDestination a{
        font-size: 14px;
    }
    .mainDestination h1{
        font-size: 56px;
    }
    .mainDestination .p1{
        margin-top: 1px;
        font-size: 15px;
        width: 327px;
        line-height: 25px;
    }
    .p2{
        width: 216px;
        margin-top: 32px;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p3{
        width: 216px;
        margin: 32px 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--linha);
        padding: 1rem 0;
        cursor: pointer;
        width: 58px;
        margin-left: 24px;
    }
    .hamburger {
        border-top: 0.225rem solid;
    }
    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }
    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }
    .nav.active .menu strong{
        visibility: visible;
    }
      
    .nav.active .hamburger {
        border-top-color: transparent;
    }
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}