@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
    margin: 0;
    padding: 0;    
}

.home{
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
}
.containerHome{
    width: 100%;
    height: auto;
    overflow:hidden;
}
.mobile{
    visibility: hidden;
}


.cabecalho{
    background-image: url(assets/shared/logo.svg);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left;
    height: 96px;
    margin-top:55px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linha{
    margin-left: 130px;
    margin-top: 95px;
    z-index: 1;
    float: left;
    position: relative;


}
nav{   
    z-index: 2;
    float: right;
    display: flex;
    height: 96px;
    width: 830px;
    top: -50px;
    backdrop-filter: blur(5px);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
}
nav strong{
    font-weight: bold;
    letter-spacing: 2.7px;
}
nav a{
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    text-decoration: none;
    position: relative; padding: 0px 0px 30px 0;
    margin-top: 30px;
    
  
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

nav a:hover::after{
    width: 100%;
}

main{
    width: 450px;
    height: 382px;
    float: left;
    margin: 387px 0px 131px 165px;
}

main h2{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 4.75px;
    text-transform: uppercase;
}

main h1{
    color: #FFFFFF;
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 100;
    text-transform: uppercase;
}

main p{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 4.75px;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
}

.btmExplore{
    background-color: #D0D6F9;
    border: none;
    border-radius: 50%;
    width: 274px;
    height: 274px;
    float: right;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    margin: 495px 165px 131px 0px;
}

button:hover {
    box-shadow: 0px 0px 60px 0 #979797 inset, 0 0 0px 60px #979797;
}

@media (max-width: 1121px){
    .home{
        background-image: url(assets/home/background-home-tablet.jpg);
    }
    .cabecalho{
        background-image: url(assets/shared/logo.svg);
        background-size: 48px;
        background-position: center;
        background-repeat: no-repeat;
        background-position: left;
        height: 96px;
        margin-top: 0px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
    }
    .linha{
        display: none;
    }
    nav{      
        float: right;
        display: flex;
        height: 96px;
        width: 450px;
        top: 1px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(5px);
        align-items: center; 
        justify-content: space-evenly;
        position: relative;
        box-shadow: 0px 1px 2px 1px white;
    }
    nav strong{
        display: none;
    }
    nav a{
        font-size: 14px;
    }

    main{
        height: 334px;
        margin-top: 202px;
        margin-left: 159px;
    }
    main h2{
        font-size: 20px;
        text-align: center;
    }
    main p{
        font-size: 16px;
        text-align: center;
    }
    .btmExplore{
        width: 242px;
        height: 242px;
        margin: 156px 263px 90px 263px;
    }

    @media (max-width: 564px){
        .home{
            background-image: url(assets/home/background-home-mobile.jpg);
            width: 100%;
        }
        .cabecalho{
            background-image: none;
            margin: 0;
        }
        .linha{
            display: none;
        }
        .mobile{
            visibility: visible;
            height: 24px;
            margin-top: 90px;
            margin-left: 40px;
            float: left;
        }
        nav{             
            float: right;
            display: flex;
            height: 96px;
            width: 450px;
            right: 660px;
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.04);
            align-items: center; 
            justify-content: space-evenly;
            position: relative;
            box-shadow: rgba(255, 255, 255, 0.04);
        }
        nav strong{
            display: none;
        }
        nav a{
            font-size: 14px;
        }
        .btn-menu {
            background: none;
            border: none;
            display: flex;
            color: #FFFFFF;
            cursor: pointer;
            flex-direction: row-reverse;
            margin: 10px;
          }
          .hamburger {
            border-top: 0.125rem solid;
            width: 1.25rem;
          }
          .hamburger::after,
          .hamburger::before {
            content: " ";
            display: block;
            width: 1.25rem;
            height: 0.125rem;
            background: currentColor;
            margin-top: 0.3125rem;
            position: relative;
          }
          .nav.active .menu {
            height: calc(100vh - 4.6875rem);
            visibility: visible;
            overflow-y: auto;
          }
          .nav.active .hamburger {
            border-top-color: transparent;
          }
          .nav.active .hamburger::before {
            transform: rotate(135deg);
          }
          .nav.active .hamburger::after {
            transform: rotate(-135deg);
            top: -0.4375rem;
          }
    
        main{
            height: 276px;
            width: 327px;
            margin: 112px 12px 0px 12px;
        }
        main h1{
            font-size: 80px;
            text-align: center;
        }
        main h2{
            font-size: 16px;
            text-align: center;

        }
        main p{
            font-size: 15px;
            text-align: center;
        }
        .btmExplore{
            width: 150px;
            height: 150px;
            margin: 81px 113px 48px 112px;
        }

    }    
}