:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--Darkgrayishblue);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: var(--Cream);
}

.container{
    position: relative;
    height: 100%;
    
}

.informacao{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 10%);
    display: grid;
    grid-template-areas:
        "aside main"
        "attribution attribution"
        ;
    justify-content: center;
    align-content: space-between;
}

aside img {
    width: 280px;
    border-radius: 10px 0px 0px 10px;
}

main{
    width: 220px;
    padding: 20px;
    background-color: var(--White);
    border-radius: 0px 10px 10px 0px;
}
main h2{
    
    letter-spacing: 4px;
}
main h1{
    margin-top: 20px;
    color: var(--Verydarkblue);
    font-family: 'Fraunces', serif;

    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    

}
.text{
    
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
    
}

.preco1{
    margin-top: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--Darkcyan);
    font-size: 40px;
    display: inline-flex;
}

.preco2{
    float: right;
    margin-top: 35px;
    text-decoration: line-through;
    margin-right: 20px;
}

button{
    background-color: var(--Darkcyan);
    color: var(--White);
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: var(--Verydarkblue);
}
.cart{
    padding-right: 5px;
    padding-left: 10px;
    
}

@media(max-width: 375px){
    .informacao{
        position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 10%);
    display: grid;
    grid-template-areas:
        "aside"
        "main"
        "attribution"
        ;
    justify-content: center;
    align-content: space-between;
    }

    aside img{
        border-radius: 10px 10px 0px 0px;
    }

    main{
        margin: 0;
        width: 240px;
        border-radius: 0px 0px 10px 10px;
    }

    
}

