@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;500;700&family=Roboto:wght@400;700&display=swap');

*{     

    font-family: Roboto,sans-serif;
    font-weight: 400;
    max-width: 1440px;
    box-sizing: border-box;
    font-size: 16px;

}

body{
    background-color: hsl(235, 18%, 26%);
  
}

.container{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "main aside"
      ;
    justify-content: center;
    align-content: space-between;
}

main{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-85%, 5%);
    border-radius: 20px 0px 0px 20px ;
    background-color: hsl(0, 0%, 100%);
    height: 600px;
    width: 550px;
    padding: 50px 80px 0px 80px;
    
}
main h1{
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    font-size: 50px;
    text-align: left;
}
main p{
    font-weight: 400;
    color: hsl(234, 29%, 20%);
    text-align: left;
}

.escolha img {
    height: 20px;
    display: inline-block;
    margin: 10px 0px 0px 0px;

}
.escolha p{
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 0px 0px;
    padding: 0px 20px 20px 20px;
}

aside{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20%, 5%);
    height: 600px;
    width: 400px;
    border-radius: 0px 20px 20px 0px;
    background-color: hsl(0, 0%, 100%);
}

.imgprincipal{
    height: 550px;
    margin-top: 20px;
    
}

.mail label{
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
}
span{
    text-align: right;
    padding: 0px 0px 0px 120px ;
    color: red;
    
}

.mail input{
    border-radius: 10px;
    width:350px;
    height: 50px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}
.mail button{
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width:350px;
    height: 50px;
    margin: 30px 0px 0px 0px;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
    
}
.mail button:hover{
    background-image: linear-gradient(to right, hsl(346, 100%, 66%), hsl(14, 98%, 61%));
}

.attribution{
        bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
    
}

@media(max-width: 900px){
    .container{
        display: grid;
        grid-template-areas: 
            "aside"
            "main"
        ;
    }
    .imgprincipal{
        width: 600px;        
    }

    main{
        border-radius: 0%;
    }

    aside{        
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        border-radius: 0%;
    }
}



