@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}
div {
     font-size: 11px; text-align: center;
     color: hsl(228, 45%, 44%);
}
footer {
    text-align: center;
    font-size: 11px;
}
